In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
games = pd.read_csv("CSV/games.csv")
df_reviews = pd.read_csv("CSV/user_reviews.csv")
df_items = pd.read_csv("CSV/user_items.csv")
data_steam = pd.read_csv("CSV/data_steam.csv")

In [7]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_id       26729 non-null  int64
 1   title         26729 non-null  object
 2   developer     26729 non-null  object
 3   release_date  26729 non-null  float64
 4   price         26729 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.0+ MB

In [26]:
df_reviews

                 user_id  item_id  recommend  year_posted  sentiment_analysis
0      76561197970982479     1250          1         2011                   2
1      76561197970982479    22200          1         2011                   2
2      76561197970982479    43110          1         2011                   1
3                js41637   251610          1         2014                   2
4                js41637   227300          1         2013                   1
...                  ...      ...        ...          ...                 ...
48493            wayfeng      730          1         2015                   1
48494  76561198251004808   253980          1         2015                   2
48495        72947282842      730          1         2015                   0
48496          ApxLGhost      730          1         2015                   2
48497  76561198267374962   369200          1         2015                   2

[48498 rows x 5 columns]

In [6]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48498 entries, 0 to 48497
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             48498 non-null  object
 1   item_id             48498 non-null  int64
 2   recommend           48498 non-null  int64
 3   year_posted         48498 non-null  int64
 4   sentiment_analysis  48498 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.9+ MB

In [81]:
data_steam

,id,user_id,item_id,title,developer,release_date,price,recommend,year_posted,sentiment_analysis,playtime_forever
0,7656119797098247922200,76561197970982479,22200,Zeno Clash,ACE Team,2009.0,9.99,1,2011,2,271
1,765611979709824791250,76561197970982479,1250,Killing Floor,Tripwire Interactive,2009.0,19.99,1,2011,2,10006
2,js41637227300,js41637,227300,Euro Truck Simulator 2,SCS Software,2013.0,19.99,1,2013,1,551
3,js41637239030,js41637,239030,"Papers, Please",3909,2013.0,9.99,1,2013,1,349
4,evcentric107200,evcentric,107200,Space Pirates and Zombies,MinMax Games Ltd.,2011.0,9.99,1,2014,2,3225
...,...,...,...,...,...,...,...,...,...,...,...
30173,76561198239215706730,76561198239215706,730,Counter-Strike: Global Offensive,Valve,2012.0,14.99,1,2015,1,4659
30174,wayfeng730,wayfeng,730,Counter-Strike: Global Offensive,Valve,2012.0,14.99,1,2015,1,42740
30175,76561198251004808253980,76561198251004808,253980,Enclave,Starbreeze,2003.0,4.99,1,2015,2,1098
30176,72947282842730,72947282842,730,Counter-Strike: Global Offensive,Valve,2012.0,14.99,1,2015,0,33
30177,ApxLGhost730,ApxLGhost,730,Counter-Strike: Global Offensive,Valve,2012.0,14.99,1,2015,2,10121

In [3]:
import pandas as pd
data = pd.read_csv("CSV/juegos_steam.csv")
data

      item_id                                           features
0       22200                       Zeno Clash, ACE Team, 2009.0
1        1250        Killing Floor, Tripwire Interactive, 2009.0
2      227300       Euro Truck Simulator 2, SCS Software, 2013.0
3      239030                       Papers, Please, 3909, 2013.0
4      107200  Space Pirates and Zombies, MinMax Games Ltd., ...
...       ...                                                ...
1990   294230        Millie, Forever Entertainment S. A., 2014.0
1991   341310                   Greyfox RPG, Lesley Dodd, 2015.0
1992   305920               Another Perspective, ShaunJS, 2014.0
1993   367780  Aero's Quest, Soloweb Studios,Ravens Eye Studi...
1994   307130                     Asteria, Legend Studio, 2014.0

[1995 rows x 2 columns]